batchdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="2ca2474f-2296-4cb6-b945-4da268350f42" >
		<file:connection workingDir="G:\files\input"/>
	</file:config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="f2b99a4b-f844-4bbf-af88-29960287860a" >
		<file:connection workingDir="G:\files\output" />
	</file:config>
	<flow name="batchdemoFlow" doc:id="ea1efb84-4eac-43ed-be96-6bedcf9d4934" >
		<scheduler doc:name="Scheduler" doc:id="2a27d59e-e9ef-4d7e-86bc-a665f193e167" >
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="b4a20072-008a-4d34-aeae-52000732412d" config-ref="File_Config" path="G:\files\input\sales.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="da1d69bb-d105-4be4-9fd2-e2074997b376" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Transaction_date: payload01.Transaction_date,
	Product: payload01.Product,
	Price: payload01.Price,
	Payment_Type: payload01.Payment_Type,
	Name: payload01.Name,
	City: payload01.City,
	State: payload01.State,
	Country: payload01.Country,
	Account_Created: payload01.Account_Created,
	Last_Login: payload01.Last_Login,
	Latitude: payload01.Latitude,
	Longitude: payload01.Longitude
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6fa90e58-7f22-4a8b-92a9-9e17ee75cb88" message="Started -- #[payload]"/>
		<batch:job jobName="batchdemoBatch_Job" doc:id="b5fb27ea-48bb-47d5-9713-39c47e3d70d4" blockSize="10">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="1613ffc0-5a7b-476b-ba0f-59ae063dd696">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="a3aca9ee-1c9d-4818-be9a-6e405c219479" size="10">
						<ee:transform doc:name="Transform Message" doc:id="2724faee-d362-417e-956c-54a72d33977f" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	customersDetails: payload map(data,index) ->
	
	{
   	   transactionDate: data.transactionDate,
   	   product: data.product,
   	   price: data.price,
   	   paymentType: data.paymentType,
   	   name: data.name,
   	   country: data.country
   }
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<file:write doc:name="Write" doc:id="90a413a3-7543-4aa3-a70c-872cf93261f1" config-ref="File_Config1" path="#['MyFile' ++ ( now() as String {format:'yyyy-MM-dd-hh-mm-ss'}  ) ++ (random() * 1000) ++ '.txt']"/>
					</batch:aggregator>
					<ee:transform doc:name="Transform Message" doc:id="eea63568-10a7-4b56-a8e7-ee3dbe897029" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	transactionDate: payload.Transaction_date,
	product: payload.Product,
	price: payload.Price,
	paymentType: payload.Payment_Type,
	name:payload.Name,
	country:payload.Country
}
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="5a972e09-c114-4bdf-8c98-21c0608c0b15" message="Completed - Success."/>
			</batch:on-complete>
		</batch:job>
		<file:delete doc:name="Delete" doc:id="630ee756-caef-46f7-88d6-2ad3d8204632" config-ref="File_Config1" path="G:\files\input\sales.csv"/>
	</flow>
</mule>
